.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);

  & + .room-nav-link {
	border-top: 0 none;
  }
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;

  .chat-message-container {
	padding: 5px;

	.avatar {
	  margin: 5px;
	}

	.message-content {
	  padding: 5px;
	  border: 1px solid $primary;
	  border-radius: 5px;
	  background: lighten($primary, 10%);
	  color: $white;
	}

	& + .chat-message-container {
	  margin-top: 10px;
	}
  }
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}